

#css1 {
    background-color: cornflowerblue;
    align-content: center;

}
#css2 {
    background-image: url(https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhcndhcnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-attachment: fixed;
   
}
#a1:link {
    display: flex;
    text-decoration: none;
    color: red;
    
;
}
/* #btn2 {
    text-align: center;
    display:block;
} */